@media screen and (max-width : 480px) {
	body{
		background-color: red;
		font-family: Phosphate, serif;
	#small{
		display:flex;}
		flex-direction: column;}
	#medium{
		display:flex;}
	#large{
		display:flex;}
}

@media screen and (min-width : 480px) and (max-width: 1024px) {
	body{
		background-color: blue;
		font-family: Arial, sans-serif;}
	#small{
		width: 66%;
		float: left;}
	#medium{
		width:33%;
		float: left;}
	#large{
		width: 100%;
		float:left;}
}

@media screen and (min-width : 1024px) {
	body{
		background-color: yellow;
		font-family:avenir, serif;
		flex-direction: row;}
	#small{
		width: 33%;
		display:flex;
		float:left;}
	#medium{
		width: 33%;
		display:flex;
		float:left;}
	#large{
		width:33%;
		display:flex;
		float:left;}
}


